<div class="card relative">
  <img
    src="https://codigoencasa.com/content/images/size/w2000/2023/03/Tw---angular---1-.jpeg"
    class="hover:opacity-75 transition-opacity"
    alt=""
  />
  <p class="text-lg text-center font-bold py-2">{{ cardTitle }}</p>
  <p class="text-slate-800 overflow-hidden">
    Card content Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Molestias culpa ipsum cum libero nam exercitationem suscipit corrupti nemo,
    voluptatibus soluta aperiam? Saepe illum tempora maiores odio, nobis ea amet
    omnis.
  </p>
  <button class="btn">Ver más</button>
</div>
