<table
  class="minw-full border-collapse border-gray-200 shadow-sm text-left mt-4"
>
  <thead class="rounded-md">
    <tr class="border-b-2 bg-black text-white">
      <th scope="col" class="px-3 py-2">Id</th>
      <th class="px-3">Nombre</th>
      <th class="px-3">Precio</th>
      <th class="px-3">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover:bg-slate-200">
      <td>1</td>
      <td>87678h</td>
      <td>67</td>
      <td>
        <button class="btn-green">Edit</button>
        <button class="btn-red">Delete</button>
      </td>
    </tr>
    <tr class="hover:bg-slate-200">
      <td>1</td>
      <td>87678h</td>
      <td>67</td>
      <td>
        <button class="btn-green">Edit</button>
        <button class="btn-red">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
